
<div>
  <a class="hiddenanchor" id="password"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <h1>Esqueceu a senha?</h1>
          <div >
            <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control"  %>
          </div>
          <div class="clearfix"></div>

          <div class="separator">
          <br />
          </div>
          <div class="actions">
            <%= f.submit "Enviar instruções para meu e-mail" %>
          </div>
        <%end%>
      </section>
    </div>
  </div>
</div>